
venv/
.venv/
env/


**/__pycache__/
*.pyc
*.pyo
*.pyd


.vscode/
.idea/
.DS_Store
Thumbs.db


**/node_modules/


*.log
.cache/


backend/services/dhan_sanchay/
backend/services/jan_shakti/
backend/services/rakshak_ai
data/processed/
models/